/**************/
/*   RESET    */
/**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/**************/
/*   Layout    */
/**************/
html {
  background-color: rgb(228, 228, 228);
  font-family: Poppins, 'sans-seriff';
  scroll-behavior: smooth;
  font-size: 62.5%;
}

section {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-left: 30rem;
  padding-top: 8rem;
}

.container {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.container:not(#portfolio){
  border-bottom: 1.5px solid rgb(150, 150, 150);
}

h2 {
  font-size: 2rem;
  display: inline-flex;
  color: rgb(221, 50, 50);
  border-top: 4px solid rgb(221, 50, 50);
  border-bottom: 4px solid rgb(221, 50, 50);
  margin-bottom: 20px;
}

/******************/
/*   Navegação    */
/******************/
#navbar {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: rgb(30, 30, 30);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: aliceblue;
  font-weight: bold;
}

#navbar ul {
  display: flex;
  margin-right: 30px;
}

#navbar a {
  padding: 20px;
  margin-left: 2rem;
  font-size: 21px;
  color: aliceblue;
  text-decoration: none;
  transition: 0.3s;
}

#navbar a:hover {
  color: orange;
}

/**********************/
/*   Barra Lateral    */
/**********************/
aside {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  z-index: 1;
  color: whitesmoke;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
}

#sidebar .photo {
  width: 50%;
  height: 50%;
  margin-top: 100px;
  margin-bottom: 30px;
  clip-path: circle();
}

#sidebar .title-name {
  margin-bottom: 15px;
}

#sidebar .subtitle-role {
  border-top: 1px solid white;
  padding: 15px;
  border-radius: 25px;
}

#sidebar .social-links {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  margin: 15px 0;
  width: 160px;
  font-size: 32px;
}

#sidebar .social-links i {
  transition: color 0.7s;
}

#sidebar .social-links i:hover {
  color: orange;
}

#sidebar .personal-data {
  text-align: start;
}

#sidebar .personal-data a,
.personal-data span {
  margin-left: 8px;
  color: white;
}

#sidebar .personal-data li {
  margin-bottom: 8px;
}

#sidebar .download-button {
  margin-top: 20px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  transition: background-color 0.3s;
}

#sidebar .download-button:hover {
  background-color: orangered;
}

/***************/
/*   About    */
/**************/

#about div {
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

#about div lottie-player {
  position: relative;
  width: 300px;
  height: 300px;
  bottom: 80px;
}

/******************/
/*   Knowledge    */
/******************/

#knowledge .timeline {
  width: 60%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
  position: relative;
}

#knowledge .timeline::before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: black;
  left: -40px;
}

#knowledge .timeline-content div{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#knowledge .timeline ul li {
  padding: 20px;
  background-color: rgb(86, 85, 85);
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.353);
}

#knowledge .timeline ul li .symbol {
  margin-top: 10px;
  margin-bottom: -30px;
  width: 100px;
  height: 100px;
}

#knowledge .timeline ul li a {
  color: white;
  transition: color 0.3s;
}

#knowledge .timeline ul li a:hover, #knowledge .date-timeline:hover {
  color: rgb(255, 98, 40);
}

#knowledge .timeline ul li .certificate {
  width: 171px;
  height: 117px;
}

#knowledge .date-timeline {
  display: inline-flex;
  position: relative;
  right: 180px;
  color: white;
  background-color: rgb(86, 85, 85);
  border-radius: 25px;
  transition: 0.3s;
  padding: 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.353);
}

#knowledge .date-timeline::after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: grey;
  border: 3px solid black;
  border-radius: 100%;
  left: 113.5px;
}

/***************/
/*   Skill    */
/**************/
#skills .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#skills .skills .tecnology {
  display: flex;
  width: 400px;
  margin-bottom: 20px;
  align-items: center;
}

#skills img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

#skills .progress {
  width: 80%;
  background-color: grey;
  border-radius: 20px;
}

#skills .progress .progress-text {
  display: flex;
  background-color: rgb(255, 98, 40);
  justify-content: space-between;
  color: #131313;
  font-weight: bold;
  border-radius: 20px;
  padding: 0 10px;
}

/******************/
/*   Portfolio    */
/******************/
#portfolio .projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 2rem;
}

#portfolio .project-item {
  display: flex;
  margin-right: 2rem;
  margin-bottom: 1rem;
  align-items: flex-start;
  text-align: center;
  padding-bottom: 2rem;
  width: 40%;
  transition: background-color .3s;
}

#portfolio .project-item:hover {
  color: rgb(255, 98, 40);
  filter: opacity(70%);
}

#portfolio .project-item a {
  color: #131313;
}

#portfolio .project-item img {
  object-fit: fill;
  width: 100%;
}

/***************/
/*   footer    */
/***************/

footer {
  text-align: center;
  font-size: 12px;
  padding-left: 330px;
  padding-bottom: 5px;
}

/************************/
/*   Responsividade    */
/***********************/

@media (max-width: 1150px) {
  #about div lottie-player {
    position: absolute;
    top: 70px;
    left: 480px;
    width: 100px;
    height: 100px;
  }

  #knowledge .timeline{
    margin-left: 150px;
    width: 50%;
  }

  #knowledge .timeline h3{
    text-align: center;
  }

  #knowledge .timeline ul li{
    width: 120%;
  }

  #knowledge .timeline ul li .certificate{
    display: none;
  }
}

/* MOBILE */
@media (max-width: 784px){
  
  section {
    margin: 20px;
    padding-top: 0;
  }

  aside{
    position: static;
    width: 100%;
  }

  #sidebar .photo{
    margin-top: 2rem;
  }

  .container{
    margin: 16px;
  }
  .container:not(#portfolio){
    padding-bottom: 16px;
    border-bottom: 1.5px solid rgb(150, 150, 150);
  }

  h2 {
    margin: 20px auto;
  }

  #navbar {
    display: none;
  }

  #about div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #about div lottie-player {
    position: static;
    width: 150px;
    height: 150px;
  }

  #about div {
    display: flex;
  }

  #knowledge .timeline ul li {
    position: relative;
    right: 15rem;
    width: 200%;
  }

  #knowledge .timeline-content div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #knowledge .timeline ul li {
    padding: 20px;
    background-color: rgb(86, 85, 85);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.353);
  }

  #knowledge .date-timeline {
    display: flex;
    justify-content: center;
    margin: 1rem;
    position: static;
    box-shadow: none;
  }

  #knowledge .timeline ul li .symbol {
    margin: 1rem auto;
    width: 100px;
    height: 100px;
  }

  #knowledge .date-timeline::after {
    display: none;
  }

  #knowledge .timeline::before {
    display: none;
  }

  footer {
    padding: 16px;
    justify-content: center;
  }
}